@{
    ViewData["Title"] = "Order Completed";
}


<div class="container py-5">
    <div class="card text-center alert alert-success">
        <div class="card-body">
            <h1 class="card-title mb-3">
                <i class="bi bi-check-circle-fill"></i>
                Order Completed Successfully
            </h1>
            <p class="card-text">
                Thank you for your order. You can check all your orders in the Orders section of your profile.
            </p>
            <hr style="border: 0.5px solid gray; height: 1px;" />
            <a href="/" class="btn btn-outline-primary">Back to Home</a>
            <a asp-action="Index" class="btn btn-success">
                <i class="bi bi-cart-check"></i>
                My Orders
            </a>
        </div>
    </div>
</div>