@model Developer

@{
    ViewData["Title"] = Model.FullName + " Details";
}

<div class="row text">
    <div class="col-md-8 mx-auto">
        <p>
            <h1>Details for @Model.FullName</h1>
        </p>
        <div class="row" style="margin-top:35px">
            <div class="col-md-8 mx-auto">
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" style="max-width:300px; max-height:300px; border: 1px solid #ddd; border-radius: 10px; padding: 5px; box-shadow: 0 0 10px #ddd;" />
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePictureURL" class="form-label"></label>
                    <input asp-for="ProfilePictureURL" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="form-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Biography" class="form-label"></label>
                    <input asp-for="Biography" class="form-control" readonly />
                </div>
                <div class="form-group" style="margin-top:10px">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-primary float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var preview = document.getElementById('ProfilePicturePreview');
            preview.src = $("#ProfilePictureURL").val();
        })
    </script>
}