@inject UserManager<ApplicationUser> userManager;

@if (!User.Identity.IsAuthenticated)
{
    @*Signup Button*@
    <a class="btn btn-outline-primary" style="margin-right:2px" asp-controller="Account" asp-action="Signup">
        <i class="bi bi-person-plus"></i>
        Sign up
    </a>

    @*Login Button*@
    <a class="btn btn-outline-success" style="margin-right:2px" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i>
        Log in
    </a>
}
else
{
    @*User profile*@
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 2px">
            <i class="bi bi-person-badge"></i>
            Hello, @userManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                    <i class="bi bi-list"></i>
                    Orders
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i>
                        Users
                    </a>
                </li>
            }
        </ul>
    </div>

    @*Logout Button*@
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger">
            <i class="bi bi-box-arrow-in-right"></i>
            Logout
        </button>
    </form>
}