@{
    ViewData["Title"] = "Game Not Found";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h1 class="display-4">Game Not Found</h1>
                <div class="my-4 text-center">
                </div>
                <p class="lead">The game you're looking for is not available or does not exist.</p>
                <a href="/" class="btn btn-lg btn-primary">Return to Home</a>
            </div>
        </div>
    </div>
</body>